$bgColor: #73E8E7;
$darkGray: #4A4844;
$lowGray: #E5E5E5;
$darkBlue: hsl(228, 34%, 14%);
$white: #FAF8F1;
$black: #20262E;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html{
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-size: 3rem;
}

button:hover, a:hover{
  cursor: pointer;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.display_Flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}